body{
    margin: 0px;
}

.top_section{
    background-color: #1F2937;
    padding: 0px 0px 100px;


}
.nav{

   
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*position: sticky;*/
    top: 0;
    padding: 0px 0px 50px;
    font: roboto;
}

button{
    background-color:#3882F6;
    color: white;
}
.logo{
    flex: 1 1 50%;
    padding: 0px 0px 0px 200px;
    height: 50px;
    width: 50px;
}

.links{
    padding: 0px 200px 0px 0px;
}
.description{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 250px;
    padding: 0px 0px 0px 200px;
    
}

.Coffee_Image{
    flex: 1 1 50%;
    height: 250px;
    width: 300px;
    padding: 0px 200px 0px 0px;
}

ul{
    display: flex;
    list-style-type: none;
    gap: 60px;
}

a{
    text-decoration: none;
}

h1{
    font-size: 48px;
    color: #F9F8FA;
    font-weight: 900;
}

.Signup-container > p{
    font-size: 18px;
    color: #E5E7EB;
}


.coffees{
    height: 120px;
    width: 120px;
    background-color: white;
    border-radius: 10px;
    border-style: solid;
    border-width: 3px;
    border-color: #1F2937;
}

.display{
    background-color: #c7b198;
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 0px 100px;
    
}

.display-box{
    display: flex;
    flex-direction: column;
    /* this was added to let the flex items grow in order to fill the space available in the flex container 
    flex-grow: 1;
    */
}



.bottom{
    padding: 0px 300px 0px 300px;
    display: flex;
    gap: 30px;
    

}

.review_section{
    padding: 0px 300px 100px;
    display: flex;
    flex-direction: column;
    align-items: end;
    background-color: #E5E7EB;
    font-size: 36px;
    font-style: light italic;
}

.call-to-action{
    margin: 50px 150px 50px;

    display: flex;
    background-color: #3882F6;
    gap: 50px;
    align-items: center;
    justify-content: center;
}

.display-box > p{
    font-size: 12px;
    width: 120px;
} 


.left-action > p{
    color: white;
}

footer{
    background-color: #1F2937;
    height: 50px;
    text-align: center;
    padding: 20px 0px 0px;
    color: white;

}